- page_header 'Help'

%h2.text-success 
  Ok here is a site/app what do you think? Is it cool or shit
%p 
  If you have a idea that you want to add to this app/site or have a idea for your own site just halla at me throw facebook 
  %a{ href: "https://www.facebook.com/approcketman/?ref=hl"} testman web service 
  or email me at majorars4@gmail.com.

%h2.text-warning
  Oyi! Remember to Test it, Hack it, break it, use it

%p
  And give me feedback.