-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'ThiefShop', root_path, class: 'navbar-brand'
    .navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render 'layouts/navigation_links'
